<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <th:block layout:fragment="cssScript"></th:block>

	<style>
		.text-center{
			margin: 0 auto;
		}
		body {
		    font-family: 'Open Sans', serif;
		    padding-top: 20px;
		    color: #868e96;
		}
		h1 {
		    font-family: 'Saira Extra Condensed', serif;
		    font-weight: 700;
		    text-transform: uppercase;
		    color: #343a40;
		}
	</style>
</head>

<body>
	<div class="container">
		<header class="blog-header py-3">
			<div class="row flex-nowrap justify-content-between align-items-center">
				<div class="text-center">
					<h1><a class="blog-header-logo text-dark" href="#">EXPERIENCE LIST</a></h1>
				</div>
			</div>
		</header>
		<div layout:fragment="content"></div>
	</div>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/tooltip.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<th:block layout:fragment="jsScript"></th:block>
</body>
</html>