<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
  
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <a href="/experience/"><h2 class="mb-5" style="text-align:center;">Experience <span style="color: #FF9900;">List</span></h2></a>

                <div class="text-md-right">
                    <a th:href="@{/experience/register}"><button class="btn-primary" style="padding: 10px; border-radius: 5px; font-size: 18px; background-color: orange; border: 1px solid orange; cursor: pointer;"> 경력등록 </button></a>
                </div>

                <hr/>
	
                <div class="resume-item d-flex flex-column flex-md-row mb-5" th:each="vo:${result}">
                    <div class="resume-content mr-auto" style="width:100%;" >
                        	<div style="display: inline-block;"><a th:href='${vo.bno}'><h3>[[${vo.title}]]</h3></a></div>
                        	<div>[[${vo.content}]]</div>
                        	<div style="width: 100%; text-align: right;">
                        		<h3 style="display: inline-block;"><a th:href='${vo.bno}'>[[${vo.bno}]]</a></h3>
                            	<a th:href="@{/experience/} + ${vo.bno} + @{/update}"><button class="btn-info" style="border-radius:3px; background-color: orange; border: 1px solid orange; cursor: pointer;"> 수정</button></a>
                            	<a th:href="@{/experience/} + ${vo.bno} + @{/delete}"><button class="btn-info" style="border-radius:3px; background-color: orange; border: 1px solid orange; cursor: pointer;"> 삭제</button></a>
                        	</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</html>