<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/item_layout}">     
      
<div layout:fragment="content">
  
	<div class="wrapper" style="margin-top:20%;">
		<h2 style="color: red; font-size:80px;"> [[${result.rating}]] </h2>
		<hr>
       	<div>
       		<h2 style="text-align: center;"><span style="color: brown; font-size: 70px;">[[${result.bno}]]</span>&nbsp[[${result.title}]]</h2>
       	</div>
       	<div>
       		<p style="text-align: center;"> [[${result.content}]] </p>
       	</div>
       	<div style="text-align: center;">
			<a href="/experience/"><button type="submit" class="btn btn-primary buttonf" style="background-color: #FF9900; border: 1px solid #FF9900; cursor: pointer;">HOME</button></a>
       	</div>
    </div> 
</div>
</html>