<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/update_layout}">     
      
<div layout:fragment="content">
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <!-- 이력서 이미지 -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Start Bootstrap</span>
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../img/profile.jpg" alt="">
            </span>
        </a>
        <!-- 왼쪽 본문 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/resume">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/experience/">경력</a>
                </li>
            </ul>
        </div>
    </nav>
	<div class="wrapper">
		<h2> <span style="color: #1C84FB">Update</span> Your Experience</h2>
		<form th:action="@{/experience/update}" method="post">
			<div class="form-group">
				<label class="labelf">게시물 번호</label>
				<input readonly="readonly" class="form-control" name="bno" th:value="${vo.bno}"/>
			</div>
		
			<div class="form-group">
                <label class="labelf">과제이름</label>
                <input class="form-control" name="title" th:value="${vo.title}" placeholder="과제 제목을 입력하세요" />
            </div>
            <div class="form-group">
                <label class="labelf">과제내용</label>
                <textarea class="form-control" rows="3" name="content" th:text="${vo.content}" placeholder="과제 내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label class="labelf">점수</label> <input class="form-control" name="rating" th:value="${vo.rating}" placeholder="획득한 점수를 입력하세요"/>
            </div>
            <button type="submit" class="btn btn-primary buttonf" style="background-color: #FF9900; border: 1px solid #FF9900; cursor: pointer;">수정하기</button>
            <button type="reset" class="btn btn-warning buttonf" style="color: white;">되돌리기</button>
        </form>
    </div> 
</div>
</html>