<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/update_layout}">     
      
<div layout:fragment="content">
    
	<div class="wrapper">
		<h2> <span style="color: #1C84FB">Update</span> Your Experience</h2>
		<form th:action="@{/experience/update}" method="post">
			<div class="form-group">
				<label class="labelf">게시물 번호</label>
				<input readonly="readonly" class="form-control" name="bno" th:value="${vo.bno}"/>
			</div>
		
			<div class="form-group">
                <label class="labelf">과제이름</label>
                <input class="form-control" name="title" th:value="${vo.title}" placeholder="과제 제목을 입력하세요" />
            </div>
            <div class="form-group">
                <label class="labelf">과제내용</label>
                <textarea class="form-control" rows="3" name="content" th:text="${vo.content}" placeholder="과제 내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label class="labelf">점수</label> <input class="form-control" name="rating" th:value="${vo.rating}" placeholder="획득한 점수를 입력하세요"/>
            </div>
            <button type="submit" class="btn btn-primary buttonf" style="background-color: #FF9900; border: 1px solid #FF9900; cursor: pointer;">수정하기</button>
            <button type="reset" class="btn btn-warning buttonf" style="color: white;">되돌리기</button>
        </form>
    </div> 
</div>
</html>